.items {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    & a {
        text-decoration: none;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
    }
    & a:hover {
        background-color: rgba(76, 0, 130, 0.712);
    }



}