.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(76, 0, 130, 0.557);
}

.items {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    & a {
        text-decoration: none;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
    }
    & a:hover {
        background-color: rgba(76, 0, 130, 0.712);
    }

}

